In [1]:
import pandas as pd
import numpy as np
import pdb
import os

In [2]:
ls

 AUROC_K_plot.ipynb     'OC-SVM feature.ipynb'   src/
 data/                   README.md               toy_vis.ipynb
'Doc edit.ipynb'         requirements.sh         Untitled.ipynb
 emb_vis.ipynb           run_new20_dec_bert.sh
 mahalanobis_vis.ipynb   softmax_scores/

In [3]:
cd /home/qudgks/workspace/gpu8/CLAD-master/data/banking

[Errno 2] No such file or directory: '/home/qudgks/workspace/gpu8/CLAD-master/data/banking'
/home/qudgks/workspace/gpu8/CLAD-master

In [4]:
cd /home/qudgks/workspace/gpu8/CLAD-master/data/stackoverflow

[Errno 2] No such file or directory: '/home/qudgks/workspace/gpu8/CLAD-master/data/stackoverflow'
/home/qudgks/workspace/gpu8/CLAD-master

In [216]:
df_train = pd.read_csv('train.tsv', delimiter='\t', index_col=None)
df_valid = pd.read_csv('valid.tsv', delimiter='\t', index_col=None)
df_test = pd.read_csv('test.tsv', delimiter='\t', index_col=None)

In [ ]:
for i in range(5):
    np.random.seed(42*i + 323 + i)
    unique_labels = df_train.label.unique()
    seen_labels = np.random.choice(unique_labels, int(len(unique_labels)*0.75), replace=False)
    df_test_ = df_test

    df_train_seen = df_train[df_train.label.isin(seen_labels)]
    df_valid_seen = df_valid[df_valid.label.isin(seen_labels)]
    df_valid_oos = df_valid[~df_valid.label.isin(seen_labels)]
    df_valid_oos.loc[:, "label"] = 'oos'
    df_test_.loc[~df_test_.label.isin(seen_labels), "label"] = 'oos'
    
    print(len(df_test_.label.unique()))

In [212]:
import pdb

In [214]:
int(len(unique_labels)*0.75)

3

In [227]:
df_test.groupby('label').count()

               text
label
haskell         300
oos            4800
oracle          300
sharepoint      300
visual-studio   300