In [2]:
import pandas as pd
import numpy as np
import pdb
import os
import json

In [111]:
ls

test.csv  train.csv  val.csv

In [24]:
cd /home/qudgks/workspace/gpu8/CLAD-master/data/hwu/

/home/qudgks/workspace/gpu8/CLAD-master/data/hwu

In [17]:
df_train = pd.read_csv('train.tsv', delimiter='\t', index_col=None)
#df_valid = pd.read_csv('valid.tsv', delimiter='\t', index_col=None)
df_test = pd.read_csv('test.tsv', delimiter='\t', index_col=None)

In [25]:
df_train = pd.read_csv('train.csv', index_col=None)
#df_valid = pd.read_csv('valid.tsv', delimiter='\t', index_col=None)
df_test = pd.read_csv('test.csv', index_col=None)

In [26]:
ls

categories.json  test.csv  train.csv

In [38]:
len(df_train_seen)

7611

In [37]:
for i in range(5):
    df_train = pd.read_csv('train.csv', index_col=None)
    #df_valid = pd.read_csv('valid.tsv', delimiter='\t', index_col=None)
    df_test = pd.read_csv('test.csv', index_col=None)
    df_train['label'] = df_train['category']
    df_test['label'] = df_test['category']
    np.random.seed(42*i + 323 + i)
    unique_labels = df_train.label.unique()
    seen_labels = np.random.choice(unique_labels, int(len(unique_labels)*0.75), replace=False)
    df_test_ = df_test

    df_train_seen = df_train[df_train.label.isin(seen_labels)]
#     df_valid_seen = df_valid[df_valid.label.isin(seen_labels)]
#     df_valid_oos = df_valid[~df_valid.label.isin(seen_labels)]
#     df_valid_oos.loc[:, "label"] = 'oos'
    df_test_.loc[~df_test_.label.isin(seen_labels), "label"] = 'oos'
    print(df_test_.label.unique())
    print(df_train_seen.label.unique())
    df_train_seen.to_csv(f"seed_{i}/train.csv")
    #df_valid_seen.to_csv(f"seed_{i}/val.csv")
    df_test_.to_csv(f"seed_{i}/test.csv")
    print(len(df_test_.label.unique()))

['alarm_query' 'alarm_remove' 'oos' 'audio_volume_mute' 'calendar_query'
 'calendar_remove' 'cooking_recipe' 'datetime_convert' 'email_addcontact'
 'email_query' 'email_querycontact' 'email_sendemail' 'general_affirm'
 'general_commandstop' 'general_confirm' 'general_dontcare'
 'general_explain' 'general_joke' 'general_negate' 'general_praise'
 'iot_cleaning' 'iot_coffee' 'iot_hue_lightchange' 'iot_hue_lightdim'
 'iot_hue_lightoff' 'iot_hue_lighton' 'iot_hue_lightup' 'iot_wemo_off'
 'iot_wemo_on' 'lists_createoradd' 'lists_remove' 'music_query'
 'music_settings' 'news_query' 'play_audiobook' 'play_game'
 'play_podcasts' 'qa_currency' 'qa_factoid' 'qa_maths'
 'recommendation_events' 'recommendation_movies' 'social_post'
 'takeaway_order' 'takeaway_query' 'transport_taxi' 'transport_ticket'
 'transport_traffic' 'weather_query']
['alarm_query' 'alarm_remove' 'audio_volume_mute' 'calendar_query'
 'calendar_remove' 'cooking_recipe' 'datetime_convert' 'email_addcontact'
 'email_query' 'email_querycontact' 'email_sendemail' 'general_affirm'
 'general_commandstop' 'general_confirm' 'general_dontcare'
 'general_explain' 'general_joke' 'general_negate' 'general_praise'
 'iot_cleaning' 'iot_coffee' 'iot_hue_lightchange' 'iot_hue_lightdim'
 'iot_hue_lightoff' 'iot_hue_lighton' 'iot_hue_lightup' 'iot_wemo_off'
 'iot_wemo_on' 'lists_createoradd' 'lists_remove' 'music_query'
 'music_settings' 'news_query' 'play_audiobook' 'play_game'
 'play_podcasts' 'qa_currency' 'qa_factoid' 'qa_maths'
 'recommendation_events' 'recommendation_movies' 'social_post'
 'takeaway_order' 'takeaway_query' 'transport_taxi' 'transport_ticket'
 'transport_traffic' 'weather_query']
49
['oos' 'alarm_remove' 'alarm_set' 'calendar_query' 'calendar_set'
 'cooking_recipe' 'datetime_query' 'email_addcontact' 'email_query'
 'email_querycontact' 'email_sendemail' 'general_affirm'
 'general_commandstop' 'general_confirm' 'general_dontcare'
 'general_explain' 'general_joke' 'general_negate' 'general_praise'
 'general_quirky' 'general_repeat' 'iot_cleaning' 'iot_coffee'
 'iot_hue_lightchange' 'iot_hue_lightdim' 'iot_hue_lightoff'
 'iot_hue_lightup' 'iot_wemo_off' 'lists_createoradd' 'lists_query'
 'lists_remove' 'music_likeness' 'music_settings' 'play_audiobook'
 'play_game' 'play_music' 'play_podcasts' 'qa_definition' 'qa_factoid'
 'qa_maths' 'qa_stock' 'recommendation_events' 'social_query'
 'takeaway_order' 'transport_query' 'transport_taxi' 'transport_ticket'
 'transport_traffic' 'weather_query']
['alarm_remove' 'alarm_set' 'calendar_query' 'calendar_set'
 'cooking_recipe' 'datetime_query' 'email_addcontact' 'email_query'
 'email_querycontact' 'email_sendemail' 'general_affirm'
 'general_commandstop' 'general_confirm' 'general_dontcare'
 'general_explain' 'general_joke' 'general_negate' 'general_praise'
 'general_quirky' 'general_repeat' 'iot_cleaning' 'iot_coffee'
 'iot_hue_lightchange' 'iot_hue_lightdim' 'iot_hue_lightoff'
 'iot_hue_lightup' 'iot_wemo_off' 'lists_createoradd' 'lists_query'
 'lists_remove' 'music_likeness' 'music_settings' 'play_audiobook'
 'play_game' 'play_music' 'play_podcasts' 'qa_definition' 'qa_factoid'
 'qa_maths' 'qa_stock' 'recommendation_events' 'social_query'
 'takeaway_order' 'transport_query' 'transport_taxi' 'transport_ticket'
 'transport_traffic' 'weather_query']
49
['alarm_query' 'oos' 'alarm_set' 'audio_volume_mute' 'audio_volume_up'
 'calendar_query' 'calendar_remove' 'cooking_recipe' 'datetime_convert'
 'datetime_query' 'email_addcontact' 'email_query' 'email_sendemail'
 'general_affirm' 'general_commandstop' 'general_confirm'
 'general_dontcare' 'general_explain' 'general_joke' 'general_negate'
 'general_praise' 'general_quirky' 'general_repeat' 'iot_cleaning'
 'iot_coffee' 'iot_hue_lightoff' 'iot_hue_lighton' 'iot_hue_lightup'
 'iot_wemo_off' 'iot_wemo_on' 'lists_query' 'lists_remove' 'music_query'
 'play_audiobook' 'play_music' 'play_podcasts' 'play_radio' 'qa_currency'
 'qa_factoid' 'qa_maths' 'qa_stock' 'recommendation_locations'
 'recommendation_movies' 'social_post' 'takeaway_query' 'transport_query'
 'transport_taxi' 'transport_ticket' 'weather_query']
['alarm_query' 'alarm_set' 'audio_volume_mute' 'audio_volume_up'
 'calendar_query' 'calendar_remove' 'cooking_recipe' 'datetime_convert'
 'datetime_query' 'email_addcontact' 'email_query' 'email_sendemail'
 'general_affirm' 'general_commandstop' 'general_confirm'
 'general_dontcare' 'general_explain' 'general_joke' 'general_negate'
 'general_praise' 'general_quirky' 'general_repeat' 'iot_cleaning'
 'iot_coffee' 'iot_hue_lightoff' 'iot_hue_lighton' 'iot_hue_lightup'
 'iot_wemo_off' 'iot_wemo_on' 'lists_query' 'lists_remove' 'music_query'
 'play_audiobook' 'play_music' 'play_podcasts' 'play_radio' 'qa_currency'
 'qa_factoid' 'qa_maths' 'qa_stock' 'recommendation_locations'
 'recommendation_movies' 'social_post' 'takeaway_query' 'transport_query'
 'transport_taxi' 'transport_ticket' 'weather_query']
49
['alarm_query' 'alarm_remove' 'alarm_set' 'audio_volume_down'
 'audio_volume_mute' 'audio_volume_up' 'calendar_query' 'oos'
 'calendar_set' 'cooking_recipe' 'datetime_query' 'email_addcontact'
 'email_query' 'email_querycontact' 'email_sendemail'
 'general_commandstop' 'general_confirm' 'general_explain' 'general_joke'
 'general_negate' 'general_quirky' 'general_repeat' 'iot_cleaning'
 'iot_coffee' 'iot_hue_lightdim' 'iot_hue_lightoff' 'iot_wemo_off'
 'iot_wemo_on' 'lists_createoradd' 'lists_remove' 'music_likeness'
 'music_query' 'news_query' 'play_audiobook' 'play_game' 'play_music'
 'play_podcasts' 'qa_currency' 'qa_factoid' 'qa_maths'
 'recommendation_events' 'recommendation_locations'
 'recommendation_movies' 'social_post' 'social_query' 'takeaway_order'
 'takeaway_query' 'transport_query' 'transport_ticket']
['alarm_query' 'alarm_remove' 'alarm_set' 'audio_volume_down'
 'audio_volume_mute' 'audio_volume_up' 'calendar_query' 'calendar_set'
 'cooking_recipe' 'datetime_query' 'email_addcontact' 'email_query'
 'email_querycontact' 'email_sendemail' 'general_commandstop'
 'general_confirm' 'general_explain' 'general_joke' 'general_negate'
 'general_quirky' 'general_repeat' 'iot_cleaning' 'iot_coffee'
 'iot_hue_lightdim' 'iot_hue_lightoff' 'iot_wemo_off' 'iot_wemo_on'
 'lists_createoradd' 'lists_remove' 'music_likeness' 'music_query'
 'news_query' 'play_audiobook' 'play_game' 'play_music' 'play_podcasts'
 'qa_currency' 'qa_factoid' 'qa_maths' 'recommendation_events'
 'recommendation_locations' 'recommendation_movies' 'social_post'
 'social_query' 'takeaway_order' 'takeaway_query' 'transport_query'
 'transport_ticket']
49
['oos' 'alarm_remove' 'audio_volume_mute' 'calendar_query'
 'calendar_remove' 'calendar_set' 'datetime_convert' 'datetime_query'
 'email_addcontact' 'email_querycontact' 'email_sendemail'
 'general_affirm' 'general_commandstop' 'general_confirm'
 'general_dontcare' 'general_explain' 'general_joke' 'general_negate'
 'general_quirky' 'iot_cleaning' 'iot_coffee' 'iot_hue_lightchange'
 'iot_hue_lightdim' 'iot_hue_lightoff' 'iot_hue_lightup' 'iot_wemo_off'
 'lists_createoradd' 'lists_query' 'lists_remove' 'music_likeness'
 'music_settings' 'news_query' 'play_game' 'play_music' 'play_podcasts'
 'play_radio' 'qa_currency' 'qa_definition' 'qa_factoid'
 'recommendation_locations' 'recommendation_movies' 'social_post'
 'social_query' 'takeaway_order' 'takeaway_query' 'transport_query'
 'transport_ticket' 'transport_traffic' 'weather_query']
['alarm_remove' 'audio_volume_mute' 'calendar_query' 'calendar_remove'
 'calendar_set' 'datetime_convert' 'datetime_query' 'email_addcontact'
 'email_querycontact' 'email_sendemail' 'general_affirm'
 'general_commandstop' 'general_confirm' 'general_dontcare'
 'general_explain' 'general_joke' 'general_negate' 'general_quirky'
 'iot_cleaning' 'iot_coffee' 'iot_hue_lightchange' 'iot_hue_lightdim'
 'iot_hue_lightoff' 'iot_hue_lightup' 'iot_wemo_off' 'lists_createoradd'
 'lists_query' 'lists_remove' 'music_likeness' 'music_settings'
 'news_query' 'play_game' 'play_music' 'play_podcasts' 'play_radio'
 'qa_currency' 'qa_definition' 'qa_factoid' 'recommendation_locations'
 'recommendation_movies' 'social_post' 'social_query' 'takeaway_order'
 'takeaway_query' 'transport_query' 'transport_ticket' 'transport_traffic'
 'weather_query']

49

In [212]:
import pdb

In [214]:
int(len(unique_labels)*0.75)

3

In [21]:
df_test.groupby('label').count()

               text
label
ajax            300
cocoa           300
excel           300
haskell         300
linq            300
magento         300
matlab          300
oos            1500
oracle          300
osx             300
qt              300
scala           300
sharepoint      300
svn             300
visual-studio   300
wordpress       300

In [50]:
        
def load_intent_examples(file_path, do_lower_case=True):
    examples = []

    with open('{}/seq.in'.format(file_path), 'r', encoding="utf-8") as f_text, open('{}/label'.format(file_path), 'r', encoding="utf-8") as f_label:
        for text, label in zip(f_text, f_label):
            e = (text.strip(), label.strip())
            examples.append(e)

    return examples

In [95]:
cd ..

/home/qudgks/workspace/unbert/dataset/BANKING77-OOS

In [96]:
dataset = load_intent_examples('train')

In [4]:
ls

 AUROC_K_plot.ipynb     'OC-SVM feature.ipynb'   src/
 data/                   README.md               toy_vis.ipynb
'Doc edit.ipynb'         requirements.sh         Untitled.ipynb
 emb_vis.ipynb           run_new20_dec_bert.sh
 mahalanobis_vis.ipynb   softmax_scores/

In [11]:
def load_dataset(data_name, data_type="full"):
    with open("./data/data_full.json", 'r') as f:
        data = json.load(f)

    field = "_".join(data_name.split("_")[1:])
    dataset = data[field]
    data_df = pd.DataFrame(dataset, columns=["sentance", "labels"])
    data_df["labels"] = data_df['labels'].astype("category").cat.codes
    return data_df


def clinc_150_Dataset():
    data_train = load_dataset("clinc150_train")
    test_in = load_dataset("clinc150_test")
    test_out = load_dataset("clinc150_oos_test")
    
    return data_train, test_in, test_out

In [12]:
train, test_in, test_out = clinc_150_Dataset()

In [36]:
test_out

                                              sentance  labels
0                   how much has the dow changed today       0
1    how many prime numbers are there between 0 and...       0
2    can you tell me how to solve simple algebraic ...       0
3              can you dim the brightness of my screen       0
4    what is the account number to the internet ser...       0
..                                                 ...     ...
995                                     find my wallet       0
996         can you give me the gps location of harvey       0
997           where's my buddy steve right this second       0
998               locate jenny at her present position       0
999                 let me know where jim is right now       0

[1000 rows x 2 columns]

In [28]:
ls

20ng-test.txt     rte-dev.txt   sst-dev.txt   sst-train.txt
multi30k-val.txt  snli-dev.txt  sst-test.txt

In [97]:
df = pd.DataFrame(dataset, columns=['text', 'labels'])

In [29]:
seed = 42

In [30]:
def load_extra_dataset(file_path="../../data/SSTSentences.txt",
                       drop_index=False,
                       label=0):
    df = pd.read_csv(file_path, sep='\t', header=0)
    df['labels'] = label
    df.rename(columns={'text': 'sentence'}, inplace=True)
    if drop_index:
        df.drop(columns='index', inplace=True)
    df.dropna(inplace=True)
    return df

def ood_ood():
    ood_snli_df = load_extra_dataset("snli-dev.txt",
                                    drop_index=True,
                                     label=0)
    ood_rte_df = load_extra_dataset("rte-dev.txt",
                                    drop_index=True,
                                    label=0)
    ood_20ng_df = load_extra_dataset("20ng-test.txt",
                                     drop_index=True,
                                     label=0)
    ood_multi30k_df = load_extra_dataset("multi30k-val.txt",
                                         drop_index=True,
                                         label=0)
    ood_snli_df = ood_snli_df.sample(n=500, random_state=seed)
    ood_rte_df = ood_rte_df.sample(n=500, random_state=seed)
    ood_20ng_df = ood_20ng_df.sample(n=500, random_state=seed)
    ood_multi30k_df = ood_multi30k_df.sample(n=500, random_state=seed)
    ood_df = pd.concat([ood_snli_df, ood_rte_df, ood_20ng_df, ood_multi30k_df])
    
    return ood_df['sentence'].tolist()

In [31]:
data = ood_ood()

In [33]:
with open('outdomain-ood.txt','w') as f:
    for name in data:
        f.write(name+'\n')

In [175]:
cd ../../

/home/qudgks/workspace/gpu8/CLAD-master/data

In [176]:
ls

20news-bydate_py3.pkz  BANKING77-OOS/  hwu/    sinps/  stackoverflow/
banking/               data_full.json  ROSTD/  sst/

In [177]:
cd hwu/

/home/qudgks/workspace/gpu8/CLAD-master/data/hwu

In [178]:
cd seed_0/

/home/qudgks/workspace/gpu8/CLAD-master/data/hwu/seed_0

In [179]:
ls

test.csv  train.csv

In [134]:
cd train

/home/qudgks/workspace/gpu8/CLAD-master/data/BANKING77-OOS/train

In [157]:
cd seed_0/

/home/qudgks/workspace/gpu8/CLAD-master/data/stackoverflow/seed_0

In [184]:
test = pd.read_csv('test.csv')

In [180]:
train = pd.read_csv('train.csv')

In [106]:
with open('stackoverflow-ood.txt','w') as f:
    for name in test_ood:
        f.write(name+'\n')